<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Compras{% endblock %}</title>
    {%block extracss%}
    {%endblock extracss%}
<body>
    <header>
        <!-- Aquí puedes colocar tu encabezado común -->
        <h1>Compras</h1>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes colocar tu pie de página común -->
        <p>&copy; 2024 Compras</p>
    </footer>
</body>
</html>
