{% extends 'index.html' %}

{% block titulo %}Listado de Productos{% endblock %}

{% block content %}
    <h1>Listado de Productos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Descripcion</th>
                <th>Stock Actual</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id}}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{producto.categoria}}</td>
                <td>{{ producto.descripcion}}</td>
                <td>{{ producto.stock_actual }}</td>
                <td>{{ producto.proveedor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

